@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use './partials/header';
@use './partials/main';
@use './partials/footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}