@use './partials/variables' as *;
@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use './partials/header';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
}

/* #region main */
main {
    .content {
        background-color: $dark;
    }

    .ms_icons {
        background-color: $primary-color;

        img {
            max-width: 50px;
            max-height: 60px;
        }
    }
}

/* #endregion main */