@use './variables' as *;

main {
    a {
        transition: filter 0.2s ease;
    }

    .content {
        background-color: $dark;
        padding: 3rem;

        .callToAction {
            a {
                width: 15%;
                min-width: 200px;
                transition: all 0.2s ease;
            }
        }
    }

    .ms_icons {
        background-color: $primary-color;

        img {
            max-width: 50px;
            max-height: 60px;
        }
    }
}